<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Nurtur", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <style>
    #menu-toggle:checked + #menu {
      display: block;
    }
    </style>
  </head>
  <body class="antialiased bg-gray-200">
    <header class="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2">

        <div class="flex-1 flex justify-between items-center lg:w-auto w-full">
          <div>
            <h1 class="text-indigo-500 text-4xl font-bold text-center">Nurtur</h1>
          </div>
        </div>



         <label for="menu-toggle" class="cursor-pointer lg:hidden block">
          <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <title>menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </label>
        <input class="hidden" type="checkbox" id="menu-toggle" />
        <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
          <nav>
            <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
              <li><a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400">Features</a></li>
              <li><a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400">Help</a></li>
              <li><a href="#" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <%= @inner_content %>
  </body>
</html>
